# データの永続化
## sqlite
* 軽量データベースを実装する言語のライブラリ
* サーバー用のプロセスを必要としない、組み込み型のデータベースエンジン
* 単一のファイルによって管理される(インメモリも可能)

In [1]:
import sqlite3

In [2]:
# DBファイルの保存先パス
db_path = 'sample.db'

# GOOgle Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(db_path + db_name)

# DBファイルの接続を閉じる
conn.close()

## こういうデータベースを作成してみる

### car.db

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

## テーブルの作成

In [3]:
path = ''
db_name = 'car.db'

# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

# sqlを実行するためのカーソルオブジェクトの取得
cur = conn.cursor()

# SQL文の作成
# テーブル作成SQL
sql ='CREATE TABLE cars (id INT, name TEXT, price PEAL);'

# SQLの実行
cur.execute(sql)

# DB接続のクローズ
conn.close()

### データをDBに挿入する方法(単一レコード)

In [4]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # sqlを実行するためのカーソルオブジェクトの取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

    # SQLの実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    # DB接続のクローズ
        conn.close()
# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

# sqlを実行するためのカーソルオブジェクトの取得
cur = conn.cursor()

# SQL文の作成
# データの挿入
sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

# SQLの実行
cur.execute(sql)

# 変更をDBに反映させる
conn.commit()

# DB接続のクローズ
conn.close()

### データをDBに複数挿入する(複数レコード)

In [6]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # sqlを実行するためのカーソルオブジェクトの取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES(列に対応したプレースホルダーをカンマ区切りで指定);
    sql = "INSERT INTO cars (id, name, price) VALUES (?, '?', ?);"

    cars = [
        (2, '991カレラ', 5500000),
        (3, 'GRスーブラ', 5300000),
        (4, 'シビック', 6000000)
    ]

    # SQLの実行
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:
    # DB接続のクローズ
        conn.close()

エラーが発生しました: Incorrect number of bindings supplied. The current statement uses 2, and there are 3 supplied.

### DB内のデータを参照する

In [10]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # sqlを実行するためのカーソルオブジェクトの取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES(列に対応したプレースホルダーをカンマ区切りで指定);
    sql = "INSERT INTO cars (id, name, price) VALUES (?, '?', ?);"

    cars = [
        (2, '991カレラ', 5500000),
        (3, 'GRスーブラ', 5300000),
        (4, 'シビック', 6000000)
    ]

    # SQLの実行
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
        for row in cur:
            id,name,price = row
            print(id, name, price)
finally:
    # DB接続のクローズ
        conn.close()

エラーが発生しました: Incorrect number of bindings supplied. The current statement uses 2, and there are 3 supplied.

### データの削除

In [11]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # sqlを実行するためのカーソルオブジェクトの取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars id = 1,;"

    cars = [
        (2, '991カレラ', 5500000),
        (3, 'GRスーブラ', 5300000),
        (4, 'シビック', 6000000)
    ]

    # SQLの実行
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

 #else:
        for row in cur:
            id,name,price = row
            print(id, name, price)
finally:
    # DB接続のクローズ
        conn.close()

IndentationError: unexpected indent (1804977718.py, line 32)

### データの更新方法

In [13]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # sqlを実行するためのカーソルオブジェクトの取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # UPDATE テーブル名 SET 列名 = 新しい値 WHERE 条件
    sql_update = "UPDATE cars SET price id = ?,;"

    
    # SQLの実行
    cur.execute('8000000',700000 )

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

 
finally:
    # DB接続のクローズ
        conn.close()

エラーが発生しました: near "8000000": syntax error